Source: zsnes2
Section: games
Priority: optional
Maintainer: Reaper <JohnGrimmReaper@disroot.org>
Build-Depends:
 debhelper-compat (= 13),
 gcc-multilib [amd64],
 libc6-dev-i386 [amd64],
 libgl-dev,
 libpng-dev,
 libsdl3-dev,
 pkgconf,
 python3,
 zlib1g-dev,
Standards-Version: 4.7.4.1
Rules-Requires-Root: no
Homepage: https://github.com/xyproto/zsnes
Vcs-Browser: https://github.com/johngrimmreaper/zsnes/tree/debian/unstable
Vcs-Git: https://github.com/johngrimmreaper/zsnes.git -b debian/unstable

Package: zsnes2
Architecture: amd64 i386 arm64 riscv64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: ZSNES 2 Super Nintendo emulator
 ZSNES 2 is a maintained continuation of the classic ZSNES emulator,
 updated to build and run on modern Unix-like systems.
 .
 The original x86 assembly implementation has been ported to C11 and the
 current upstream release supports multiple CPU architectures. The package
 provides SDL3 rendering and audio together with OpenGL rendering support.
 Game ROM images are not included.
